<!DOCType html>
<html lang="en">
<head>
    {% load static %}
    <title>Job Finder - {% block title%}Base{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}">
    <meta name="author" content="Gregory Frost">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block links %}{% endblock %}
    <script>
    {% block scripts %}
    {% endblock %}
    </script>
</head>
<body>
<div class="heading">
    <h1 class="heading" id="title"><span onclick="window.location.href='/';">{% block heading %}Job Finder{% endblock %}</span></h1>
    <hr/>
</div>
<div id="center-column" class="container container-sm">
    <button onclick="topFunction()" id="topBtn" title="Scroll to Top"><span></span></button>
    {% block center-content %}
    {% endblock %}

</div>

<div id="left-column" class="container container-sm" style="float: left;">
    <h2></h2>
    {% block left-content %}
    {% endblock %}
</div>

<div id="right-column" class="container container-sm" style="float: right;">
    <h2></h2>
    {% block right-content %}
    {% endblock %}
</div>

<script>
    mybutton = document.getElementById("topBtn");

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script>
</body>
</html>